<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527452785533-q2lo3auir6juaei1dq5far9kp2f8ogus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527452785533-q2lo3auir6juaei1dq5far9kp2f8ogus</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>527452785533-2edrgcd3depj6nc35git9jtoue6eohvc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDq418XeW9y_kKd1WhbnMb1EYm-kRcvetM</string>
	<key>GCM_SENDER_ID</key>
	<string>527452785533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nxgnnooritravels.driver.ios</string>
	<key>PROJECT_ID</key>
	<string>cabme-1b117</string>
	<key>STORAGE_BUCKET</key>
	<string>cabme-1b117.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527452785533:ios:b3b00f6578e526f5f95a14</string>
</dict>
</plist>